<div>
    <h2>Lista de Clientes</h2>
    <table>
      <thead>
        <tr>
          <th>Nome</th>
          <th>Email</th>
          <th>Telefone</th>
          <th>Endereço</th>
          <th>Cidade</th>
          <th>Estado</th>
          <th>CEP</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cliente of clientes">
          <td>{{ cliente.nome }}</td>
          <td>{{ cliente.email }}</td>
          <td>{{ cliente.telefone }}</td>
          <td>{{ cliente.endereco }}</td>
          <td>{{ cliente.cidade }}</td>
          <td>{{ cliente.estado }}</td>
          <td>{{ cliente.cep }}</td>
          <td>
            <button (click)="deleteCliente(cliente.id)">Excluir</button>
            <a [routerLink]="['/clientes/edit', cliente.id]">Editar</a>
          </td>
        </tr>
      </tbody>
    </table>
    <a [routerLink]="['/clientes/new']">Novo Cliente</a>
  </div>
  